body {
  background-color: #232a31;
}

.extensionContainer {
  width: 25rem;
  background-color: #232a31;
}

.teamIdContainer {
  display: flex;
  flex-direction: column;
  justify-self: anchor-center;
  gap: 0.25rem;
}

.savedTeamsContainer {
  display: flex;
  flex-direction: column;
  max-height: 7rem;
  overflow: scroll;
  gap: 0.25rem;
  justify-self: anchor-center;
}

.teamContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}
